###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
Shaw/Logs/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Shaw/Assets/Font/Noto_Sans_TC.meta
Shaw/Assets/Font/NotoSansTC-Regular SDF.asset
Shaw/Assets/Font/NotoSansTC-Regular SDF.asset.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Black.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Black.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Bold.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Bold.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Light.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Light.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Medium.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Medium.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Regular.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Regular.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Thin.otf
Shaw/Assets/Font/Noto_Sans_TC/NotoSansTC-Thin.otf.meta
Shaw/Assets/Font/Noto_Sans_TC/OFL.txt
Shaw/Assets/Font/Noto_Sans_TC/OFL.txt.meta
Shaw/Assets/Library\